@* Component for View All Employees page for the basic employee card*@

<div id="viewall">
    <h3>@Name</h3>
    <div class="emp-info">
        <p>Employee ID#: @ID</p>
        <p>Department: @Department</p>
        <p>Position: @Position</p>
        <p>Total Compensation: @Salary.ToString("C")</p>
    </div>
</div>

@* Create parameters requried for the component*@

@code {
    [Parameter]
    public int ID { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Department { get; set; }

    [Parameter]
    public string Position { get; set; }

    [Parameter]
    public decimal Salary { get; set; }

}